.new-collection-container {
    margin: 0 0 0 0;
    position: relative;
    text-align: center;
    min-height: 800px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    img{
        opacity: 0.8;
    }
}

.new-collection-title {
    position: absolute;
    color: #1f2022;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    top: 100px;
    left: 200px;
    text-transform: capitalize;
}

.new-collection-subtitle {
    position: absolute;
    color: #313639;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
    top: 320px;
    left: 200px;
    text-transform: capitalize;
}

.new-collection-btn{
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    top: 430px;
    left: 200px;
    a:link, a:visited {
        background-color: lightblue;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 50px;
      }
      a:hover, a:active {
        background-color: rgb(134, 200, 223);
      }
}

.category-container {
    margin-top: 50px;
    text-align: center;
    color: #1f2022;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.category-container-list {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    align-items: center;
    button {
        background-color: white;
        height: 200px;
        width: 400px;
        background-position: center;
        background-size: cover;
        opacity: 0.8;
        border: none;
    }
    button:hover {
        opacity: 1;
    } 
    h4 {
        margin-top: 0px;
        font-family: 'Times New Roman', Times, serif;
        color: white;
        font-size: 25px;
        font-weight: 700;
    }
}

.best-sales-container {
    margin-top: 50px;
    text-align: center;
    color: #1f2022;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.best-sales-container-list {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    gap: 8px
}

.product-container {
    margin-bottom: 40px;
    img {
        height: 300px;
        width: 265px;
    }
    h5 {
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
    }
    i {
        color: burlywood;
    }
    a:link, a:visited {
        color: rgb(99, 95, 95);
        margin-top: 0;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 50px;
        opacity: 0.8;
    }
    a:hover, a:active {
        color: black;
        opacity: 1;
    }
    
}

.product-ratting {
    margin-top: 0;
    padding-top: 0;
}